h1:first-of-type {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.75rem;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

h2:first-of-type {
  font-size: 1.25rem;
  opacity: 0.65;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 0.75rem;
}