.img {
  display: block;

  &:first-of-type {
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    margin: auto;
    margin-bottom: 0.75rem;
    position: relative;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
