@import "./reset.css";

@import "./components/Button.scss";
@import "./components/Credits.scss";
@import "./components/Heading.scss";
@import "./components/Image.scss";

html {
  font-size: 16px;
}

html, body, #__next {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
}

* {
  transition: all .1s ease-in-out;
}

.wrapper {
  min-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 30rem;
  padding: 3rem 1.5rem;
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  background: currentColor;
  opacity: 0.2;

  margin: 1.25rem 2rem 2rem 2rem;
  display: inline-block;
  width: calc(100% - 4rem);
}