@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body {
  background: url("../public/background.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}
