@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("../public/background.png");
  background-size: cover;
  background-position: center;
}

body {
  color: #fff;
}

em {
  font-style: italic !important;
}
